* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s ease;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #c2f80f, #8ce73c);
    font-family: "Poppins", sans-serif;
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  #home{
    min-height: 600px;
  }
  .fab{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: palevioletred;
    font-weight: bold;
}
  
  /* Agrega estilos adicionales según tus necesidades */
  